.feedBack-card {
    width: 85%;
    background: rgba($color-white, 0.85);
    box-shadow: $shadow-03;
    margin: 0 auto;
    padding: 5rem 10rem;
    transform: skewX(-30deg);
    position: relative;
    margin-bottom: 1.5rem;
    & > * {
        transform: skewX(30deg);
        // media
        @include respond(tab-port) {
                transform: skewX(0);
        }
    }
    &__img {
        float: left;
        width: 16rem;
        height: 16rem;
        border-radius: 100rem;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        margin-right: 4rem;
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1.2);
            transition: all .5s;
        }
    }
    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        text-align: center;
        text-transform: uppercase;
        font-size: 2.4rem;
        color: $color-white;
        opacity: 0;
        transition: all .5s;
    }
    &:hover &__name {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover img {
        transform: scale(1);
        filter: blur(.3rem) brightness(70%); // cоздает блюр в .3rem и уменьшает яркость до 70%
    }
    //media
    @include respond(tab-land) {
        width: 80%;
        padding: 2.5rem 5rem;
    }
    // media
    @include respond(tab-port) {
        width: 95%;
        transform: skewX(0);
        padding: 2.5rem;
    }
}